@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro'), local('GothamPro'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('embedded-opentype'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff2'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('woff'),
        url('../fonts/gothampro/GothamProNarrow-Bold.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-MediumItalic.eot');
    src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
        url('GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-MediumItalic.woff2') format('woff2'),
        url('GothamPro-MediumItalic.woff') format('woff'),
        url('GothamPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BlackItalic.eot');
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
        url('GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-BlackItalic.woff2') format('woff2'),
        url('GothamPro-BlackItalic.woff') format('woff'),
        url('GothamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Medium.eot');
    src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
        url('GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamProNarrow-Medium.woff2') format('woff2'),
        url('GothamProNarrow-Medium.woff') format('woff'),
        url('GothamProNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-LightItalic.eot');
    src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
        url('GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-LightItalic.woff2') format('woff2'),
        url('GothamPro-LightItalic.woff') format('woff'),
        url('GothamPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

